USE [master]
GO
/****** Object:  Database [camdo]    Script Date: 12/05/2026 9:38:43 SA ******/
CREATE DATABASE [camdo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'camdo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\camdo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'camdo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\camdo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [camdo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [camdo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================
-- EVENT 2: HÀM TÍNH TOÁN CÔNG NỢ THỜI GIAN THỰC
-- ========================================================
CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (
    @MaHD INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    -- 1. Khai báo các biến cần thiết
    DECLARE @TienGoc DECIMAL(18,2);
    DECLARE @NgayTao DATE;
    DECLARE @Deadline1 DATE;
    DECLARE @TongTien DECIMAL(18,2) = 0;
    DECLARE @LaiSuat FLOAT = 0.005; -- 0.5%/ngày

    -- Lấy thông tin hợp đồng
    SELECT 
        @TienGoc = TienGoc, 
        @NgayTao = NgayTao, 
        @Deadline1 = Deadline1
    FROM HopDong 
    WHERE MaHD = @MaHD;

    -- Xử lý ngoại lệ: Không có hợp đồng hoặc ngày tính toán nhỏ hơn ngày tạo
    IF @TienGoc IS NULL RETURN 0;
    IF @TargetDate < @NgayTao RETURN @TienGoc;

    -- 2. Tính toán Gốc + Lãi dựa trên mốc thời gian
    IF @TargetDate <= @Deadline1
    BEGIN
        -- TRƯỜNG HỢP 1: TRƯỚC HOẶC BẰNG DEADLINE 1 (LÃI ĐƠN)
        DECLARE @SoNgayLaiDon INT = DATEDIFF(DAY, @NgayTao, @TargetDate);
        SET @TongTien = @TienGoc + (@TienGoc * @LaiSuat * @SoNgayLaiDon);
    END
    ELSE
    BEGIN
        -- TRƯỜNG HỢP 2: SAU DEADLINE 1 (LÃI KÉP)
        
        -- Bước 2.1: Tính Gốc mới = Gốc cũ + Lãi đơn tích lũy đến Deadline 1
        DECLARE @SoNgayDenDL1 INT = DATEDIFF(DAY, @NgayTao, @Deadline1);
        DECLARE @GocMoi DECIMAL(18,2) = @TienGoc + (@TienGoc * @LaiSuat * @SoNgayDenDL1);
        
        -- Bước 2.2: Tính Lãi kép từ sau Deadline 1 đến TargetDate
        DECLARE @SoNgayLaiKep INT = DATEDIFF(DAY, @Deadline1, @TargetDate);
        
        -- Sử dụng hàm POWER để tính lũy thừa cho lãi kép
        SET @TongTien = @GocMoi * POWER(1 + @LaiSuat, @SoNgayLaiKep);
    END

    -- 3. Xử lý trừ đi số tiền khách đã trả góp (được lưu trong bảng Log)
    DECLARE @DaTra DECIMAL(18,2);
    SELECT @DaTra = ISNULL(SUM(SoTienTra), 0) 
    FROM Log 
    WHERE MaHD = @MaHD AND NgayTra <= @TargetDate;

    -- Dư nợ thực tế = Tổng phải trả - Tổng đã trả
    SET @TongTien = @TongTien - @DaTra;
    
    -- Đảm bảo nợ không bị âm nếu khách lỡ trả dư một chút
    IF @TongTien < 0 SET @TongTien = 0;

    RETURN ROUND(@TongTien, 0);
END
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[TienGoc] [decimal](18, 2) NULL,
	[NgayTao] [date] NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DanhSachNoXau]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================
-- EVENT 4: VIEW TRUY VẤN DANH SÁCH NỢ XẤU
-- ========================================================
CREATE VIEW [dbo].[vw_DanhSachNoXau]
AS
SELECT 
    kh.TenKH,
    kh.SoDienThoai,
    hd.TienGoc AS SoTienVayGoc,
    
    -- Tính số ngày từ Deadline 1 đến ngày hôm nay
    DATEDIFF(DAY, hd.Deadline1, GETDATE()) AS SoNgayQuaHan,
    
    -- Tính tổng nợ đến thời điểm hiện tại
    dbo.fn_CalcMoneyContract(hd.MaHD, GETDATE()) AS TongTienHienTai,
    
    -- Tính tổng nợ dự kiến sau 1 tháng nữa (lãi kép sẽ nhảy lên rất nhanh)
    dbo.fn_CalcMoneyContract(hd.MaHD, DATEADD(MONTH, 1, GETDATE())) AS TongTienSau1Thang

FROM HopDong hd
JOIN KhachHang kh ON hd.MaKH = kh.MaKH
WHERE 
    -- Điều kiện 1: Đã vượt quá Deadline 1
    GETDATE() > hd.Deadline1
    -- Điều kiện 2: Vẫn còn nợ (Chưa thanh toán xong và chưa bị thanh lý)
    AND hd.TrangThai NOT IN (N'Đã thanh toán đủ', N'Đã thanh lý');
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayTra] [date] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NguoiThuTien] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenTaiSan] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayTao], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-01' AS Date), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), N'Đang vay')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayTao], [Deadline1], [Deadline2], [TrangThai]) VALUES (2, 2, CAST(20000000.00 AS Decimal(18, 2)), CAST(N'2026-03-01' AS Date), CAST(N'2026-04-01' AS Date), CAST(N'2026-05-30' AS Date), N'Đã thanh lý')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayTao], [Deadline1], [Deadline2], [TrangThai]) VALUES (3, 3, CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2026-04-15' AS Date), CAST(N'2026-05-15' AS Date), CAST(N'2026-06-15' AS Date), N'Đã thanh toán đủ')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (1, N'Trần Văn Đạt', N'0912345678')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (2, N'Lê Thị Hương', N'0988777666')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (3, N'Phạm Minh Tú', N'0909111222')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThuTien]) VALUES (1, 3, CAST(N'2026-04-20' AS Date), CAST(2000000.00 AS Decimal(18, 2)), N'Nhân viên A')
INSERT [dbo].[Log] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThuTien]) VALUES (2, 3, CAST(N'2026-05-05' AS Date), CAST(3000000.00 AS Decimal(18, 2)), N'Nhân viên B')
INSERT [dbo].[Log] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThuTien]) VALUES (3, 3, CAST(N'2026-05-12' AS Date), CAST(5000000.00 AS Decimal(18, 2)), N'Nhân viên C')
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTS]) VALUES (1, 1, N'Laptop Dell XPS', CAST(12000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTS]) VALUES (2, 2, N'Xe máy SH Mode', CAST(35000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThaiTS]) VALUES (3, 3, N'Điện thoại iPhone 14 Pro', CAST(18000000.00 AS Decimal(18, 2)), N'Đã trả khách')
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDongMoi]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DangKyHopDongMoi] (
    @TenKhachHang NVARCHAR(100),
    @SoDienThoai VARCHAR(15),
    @SoTienVayGoc DECIMAL(18,2),
    @Deadline1 DATE,
    @Deadline2 DATE,
    @DanhSachTaiSan_JSON NVARCHAR(MAX) 
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Xử lý thông tin Khách Hàng
        DECLARE @MaKH INT;
        SELECT @MaKH = MaKH FROM KhachHang WHERE SoDienThoai = @SoDienThoai;
        
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KhachHang (TenKH, SoDienThoai) 
            VALUES (@TenKhachHang, @SoDienThoai);
            SET @MaKH = SCOPE_IDENTITY();
        END

        -- 2. Tạo Hợp Đồng vay
        DECLARE @MaHD INT;
        INSERT INTO HopDong (MaKH, TienGoc, NgayTao, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH, @SoTienVayGoc, GETDATE(), @Deadline1, @Deadline2, N'Đang vay');
        SET @MaHD = SCOPE_IDENTITY();

        -- 3. Lưu danh sách Tài Sản từ chuỗi JSON
        INSERT INTO TaiSan (MaHD, TenTaiSan, GiaTriDinhGia, TrangThaiTS)
        SELECT 
            @MaHD,
            JSON_VALUE(value, '$.TenTS'),
            CAST(JSON_VALUE(value, '$.GiaTri') AS DECIMAL(18,2)),
            N'Đang cầm cố'
        FROM OPENJSON(@DanhSachTaiSan_JSON);

        COMMIT TRANSACTION;
        PRINT N'Đã đăng ký hợp đồng thành công!';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N'Có lỗi xảy ra, đã hủy thao tác: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 12/05/2026 9:38:44 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================
-- EVENT 3: THỦ TỤC XỬ LÝ TRẢ NỢ VÀ HOÀN TRẢ TÀI SẢN
-- ========================================================
CREATE PROCEDURE [dbo].[sp_XuLyTraNo] (
    @MaHD INT,
    @SoTienTra DECIMAL(18,2),
    @NguoiThuTien NVARCHAR(100)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Kiểm tra trạng thái hợp đồng xem đã bị thanh lý chưa
        DECLARE @TrangThaiHD NVARCHAR(50);
        SELECT @TrangThaiHD = TrangThai FROM HopDong WHERE MaHD = @MaHD;

        IF @TrangThaiHD = N'Đã thanh lý'
        BEGIN
            PRINT N'Tài sản đã bị thanh lý. Không thu tiền, không trả đồ.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Tính tổng nợ hiện tại (Gốc + Lãi) tính đến hôm nay
        DECLARE @TongNoHienTai DECIMAL(18,2);
        SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());

        -- 3. Ghi nhận dòng tiền vào bảng Log
        INSERT INTO [Log] (MaHD, NgayTra, SoTienTra, NguoiThuTien)
        VALUES (@MaHD, GETDATE(), @SoTienTra, @NguoiThuTien);

        -- Tính toán dư nợ sau khi đã trừ số tiền khách đưa hôm nay
        DECLARE @DuNoConLai DECIMAL(18,2);
        SET @DuNoConLai = @TongNoHienTai - @SoTienTra;

        -- 4. Xử lý logic cập nhật trạng thái và trả đồ
        IF @DuNoConLai <= 0
        BEGIN
            -- Trả hết tiền: Trả hết đồ
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD;
            
            PRINT N'Khách hàng đã thanh toán đủ tiền gốc và lãi.';
            PRINT N'Hệ thống đã cập nhật hoàn trả toàn bộ tài sản cho khách.';
        END
        ELSE
        BEGIN
            -- Trả chưa hết: Trả góp
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            PRINT N'Khách thanh toán một phần. Đã cập nhật trạng thái: Đang trả góp.';
            PRINT N'Dư nợ còn lại: ' + FORMAT(@DuNoConLai, 'N0') + N' VNĐ';

            -- Xử lý gợi ý trả tài sản
            -- Tính tổng giá trị các tài sản đang cầm cố của hợp đồng này
            DECLARE @TongGiaTriTaiSan DECIMAL(18,2);
            SELECT @TongGiaTriTaiSan = SUM(GiaTriDinhGia) 
            FROM TaiSan 
            WHERE MaHD = @MaHD AND TrangThaiTS = N'Đang cầm cố';

            -- Xuất danh sách gợi ý tài sản có thể lấy về
            PRINT N'--- DANH SÁCH TÀI SẢN ĐỦ ĐIỀU KIỆN TRẢ LẠI ---';
            SELECT 
                MaTS, 
                TenTaiSan, 
                GiaTriDinhGia AS GiaTriTaiSanNay,
                (@TongGiaTriTaiSan - GiaTriDinhGia) AS GiaTriDoConGiuLai,
                @DuNoConLai AS DuNoHienTai
            FROM TaiSan 
            WHERE MaHD = @MaHD AND TrangThaiTS = N'Đang cầm cố'
            -- Điều kiện: Giá trị phần còn lại sau khi trả >= Dư nợ
            AND (@TongGiaTriTaiSan - GiaTriDinhGia) >= @DuNoConLai;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N'Có lỗi trong quá trình xử lý: ' + ERROR_MESSAGE();
    END CATCH
END
GO
USE [master]
GO
